.navbar {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    background-color: #4A202A;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.navbar-logo img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.navbar-logo p {
    font-size: 20px;
    font-weight: bold;
    color: #DDC3B5;
    margin: 0;
}

@media (max-width: 600px) {
    .navbar-logo p {
        font-size: 16px;
        text-align: center;
    }

    .navbar-logo {
        flex-direction: column;
    }
}
